.card {
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.profile {
  margin-bottom: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.info {
  padding-left: 8px;
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.name {
  font-weight: bold;
  font-size: 18px;;
  margin-bottom: 5px;
}

.mutual-friend-text {
  color: rgb(100, 100, 100);
  display: inline-block;
}

button {
  border: none;
  background-color: rgb(34, 111, 255);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.mutual-friend-profile {
  width: 25px;
  border-radius: 13px;
  vertical-align: middle;
  margin-right: 5px;
}

.mutual-friend {
  margin-bottom: 10px;;
}