.get-started-button {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 0.15s;
}

.get-started-button:hover {
  background-color: rgb(105, 68, 162);
}

.download-button {
  background-color: white;
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 0.15s, color 0.15s;
}

.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
